# Astro build output
/dist/
.astro/

# Node
node_modules/

# Hugo (legacy, to be removed)
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
hugo.exe
hugo.darwin
hugo.linux
/.hugo_build.lock

# Env
.env
.env.*
