<div class="hx-w-full hx-flex hx-flex-wrap sm:hx-flex-nowrap hx-justify-center hx-items-center hx-text-sm hx-text-center hx-text-gray-600 dark:hx-text-gray-400 hx-gap-2 hx-pt-6 hx-pb-8">
  <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502042680" class="hx-flex hx-items-center hover:hx-text-blue-500">
    <img src="/images/beian.png" class="hx-h-5 hx-mr-1" alt="备案图标"/>
    京公网安备 11010502042680号
  </a>
  <a target="_blank" href="https://beian.miit.gov.cn/" class="hover:hx-text-blue-500">
    京ICP备2020039231号-1
  </a>
</div>
