<div class="hx-w-full hx-flex hx-justify-center hx-items-center hx-text-sm hx-mt-4 hx-text-gray-600 dark:hx-text-gray-400">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502042680" class="hx-flex hx-items-center hover:hx-text-blue-500">
      <img src="/images/beian.png" class="hx-h-5 hx-mr-1" alt="备案图标"/>
      京公网安备 11010502042680号
    </a>
    <span class="hx-mx-2">|</span>
    <a target="_blank" href="https://beian.miit.gov.cn/" class="hover:hx-text-blue-500">
      京ICP备2020039231号-1
    </a>
  </div>